<p>Hello <%= @resource.email %>!</p>

<p>Nous avons reçu une demande de lien de changement de mot de passe. Vous pouviez changer ici...</p>

<p><%= link_to 'Changer mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas l'auteur de ctte requête, veuillez ignorer ce message.</p>
<p>Votre mot de passe ne changera pas tant que vous n'accéder pas à ce lien et que vous créer un nouveau.</p>
