$primary: #5fc563 ;

@import "bootstrap";

body{
    background-color: #F9F9F9;
}

.brand{
    background-image: url('/images/brand.jpg');
}

.brand-student{
    background-image: url('/images/brand-student.jpg');
}

.icon{
    filter: drop-shadow(7px 3px 5px #000);
    width: 25%;
}

.icon:hover{
        transform: rotate3d(1, 1, 1, 45deg);
}

#app{
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

nav{
    background-color: #5fc563;
    font-size: large;
}

footer{
    background-color: #5fc563 !important;
    color: #fff
}

@media (min-width:1000px) {
    .post-content{
        padding: 10px 25px;
    }
}

.card{
    box-shadow: 0px 0px 12px 5px #d2d2d2;
}

.card-header, .card-footer, .card{
    border: none;
}

//scrollBar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}