// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app{
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.carousel-item img{
    max-width: 100vh;
    max-height: 70vh;
}

@media (min-width: 1180px) {
    .carousel-caption{
        max-width: 70vh;
        display: flex !important;
        flex-direction: column;
        position: static;
        align-content: center;
        justify-content: center;
    }
}

.carousel-caption p{
    font-size: 10px;
    font-weight: 300;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
    justify-content: center;
}